# Compiled
*.elc

# Packaging
.cask
elpa/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

plantuml.jar

*.swp
*.bak
tmp/

# emacs
.lsp-session*
ac-comphist.dat
custom.el
transient/
url/
recentf
.emacs.desktop
.emacs.desktop.lock
eln-cache/