# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

plantuml.jar

*.swp
*.bak
tmp/

# emacs
.cache/
eln-cache/
org-persist
.lsp-session*
ac-comphist.dat
custom.el
transient/
url/
recentf
